/* pestaña del carrito */

#carro-cerrado{
    display: none;
}
#ventana-abierta{
    backdrop-filter: blur(10px);
    background-color: #444546c2;
    width: 100%;
    height: 10000vh;
    position: fixed;
    z-index: 2 !important;
    padding-bottom: 500px;
}
#ventana{
    display: none;
}
.no-scroll{
    overflow-y:hidden;
}
#equis{
    position: fixed;
    cursor: pointer;
    font-size: 2rem;
    color: white;
    z-index: 100 !important;
    top: 5vh;
    right: 5vw;
}
#equis:hover{
    color: var(--color-primario);
    text-shadow: 1px 1px 3px #000;
}

.productos-carrito{
   display: grid;
   grid-template-columns: repeat(5,3fr);
    color: #fff;
    gap: 50px;
    padding: 10px 0;
    margin: 0 auto;
    width: 90%;
    justify-content: space-evenly;
    align-items: center;
    font-size:1.3rem;
    font-weight: bold;
    font-family:sans-serif;
}

#contenedor-carrito{
    overflow-y: scroll;
    position: absolute;
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: column; 
    margin:5vh 0 0 5vw ;
    text-align: center;
}
.imagen-carrito{
    width: 90px;
}
.btn-eliminar{
    width: 40px;
    height: 40px;
    font-size: 25px;
    border: none;
    border-radius: 2px;
}
/* boton vaciar elementos del carrito */
#btn-vaciar-carrito-off{
    display: none;
}
#btn-vaciar{
    position: fixed;
    top: 80vh;
    left: 40vw;
    z-index: 200 !important;
    padding: 0.2rem 0.5rem;
    border: none;
    box-shadow: 0px 0px 5px 1px #000;
    font-weight: bold;
}
#btn-vaciar:hover,.btn-eliminar:hover{
    background-color: var(--color-primario);
}
/* btn comprar del carrito */
#btn-comprar{
    position: fixed;
    top: 80vh;
    left:55vw;
    z-index: 200 !important;
    padding: 0.2rem 0.5rem;
    border: none;
    box-shadow: 0px 0px 5px 1px #000;
    font-weight: bold;
}
#btn-comprar:hover{
    background-color: var(--color-primario);
}

.PrecioProducto{
    position: absolute;
    top: 80vh;
    left: 5vw;
    font-weight: bold;
    color: #fff;
    font-size: 1.3rem;
}
#contador{
    font-size: 1.2rem;
}


.botones{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.btn-restar,.btn-sumar{
    width: 1rem;
    height: 2rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    border: none;
    border-radius: 2px;
    align-items: center;
    padding: 10px;
    margin: 10px;
}
.btn-restar:hover,.btn-sumar:hover{
    background-color: var(--color-primario);
}
.cantidad-Prod{
    margin: auto;
}